<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-list>
        <a mat-list-item routerLink=""> Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="cv"> CV</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="skills"> Skills</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="projects"> Projects</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="blog"> Blog</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="contact"> Contact</a>
        <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar>
      <span>My Application</span>

      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
